@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .wrapper {
        padding-left: 12px;
        padding-right: 12px;
        margin-right: auto;
        margin-left: auto;
        width: auto !important;
    }
    small{
        font-size: .875em;
        color: #21252980;
        line-height: 1.5;
    }
    @media (min-width: 576px) {
        .wrapper {
            max-width: 540px;
        }
    }
    @media (min-width: 768px) {
        .wrapper {
            max-width: 720px;
        }
    }
    @media (min-width: 992px) {
        .wrapper {
            max-width: 960px;
        }
    }
    @media (min-width: 1200px) {
        .wrapper {
            max-width: 1140px;
        }
    }
    @media (min-width: 1400px) {
        .wrapper {
            max-width: 1320px;
        }
    }

    h1, h2, h3, h4, h5, h6{
        font-weight: 500;
        line-height: 1.2 !important;
    }

    label,p,li{
        line-height: 1.5 !important;
    }
    select{ 
        background-color: #fff;
    }
    table a{
        color: #0D6efd;
    }

    #carousel {
		margin: 0 auto;
		height: 450px;
		width: 100%;
		max-width: 636px;
		overflow: hidden;
		position: relative;
	  }
  
	  #carousel ul li {
		display: inline-block;
		height: 450px;
		list-style: none;
		float: left;
	  }
  
	  #carousel ul {
		margin: 0 auto;
		padding: 0;
		width: 2000px;
		position: absolute;
	  }
  
	  #carousel img {
		height: 450px;
		width: 100%;
		display: block;
		
		object-fit: cover;
	  }
  
	  [class*="carousel-button"] {
		position: absolute;
		transform: translate(0, -50%);
		height: 30px;
		width: 20px;
		cursor: pointer;
		transition: 0.5s;
	  }
  
	  .carousel-button-slide-left {
		left: 20px;
		top: 50%;
		z-index: 2;
	  }
  
	  .carousel-button-slide-left:hover span {
		color: grey;
		cursor: pointer;
		transition: 0.5s;
	  }
  
	  .carousel-button-slide-left span {
		color: white;
		top: 50%;
		transform: translate(0, -50%);
		position: absolute;
		transition: 0.5s;
		font-size: 30px;
	  }
  
	  .carousel-button-slide-left span:hover {
		color: grey;
		cursor: pointer;
		transition: 0.5s;
	  }
  
	  .carousel-button-slide-right {
		right: 20px;
		top: 50%;
	  }
  
	  .carousel-button-slide-right:hover span {
		color: grey;
		cursor: pointer;
		transition: 0.5s;
	  }
  
	  .carousel-button-slide-right span {
		color: white;
		top: 50%;
		transform: translate(0, -50%);
		position: absolute;
		transition: 0.5s;
		font-size: 30px;
		right: 0;
	  }
  
	  .carousel-button-slide-right span:hover {
		color: grey;
		cursor: pointer;
		transition: 0.5s;
	  }
  
	  .carousel-controls {
		position: absolute;
		bottom: 0;
		display: block;
		text-align: center;
		width: 100%;
	  }
  
	  #carousel .dot {
		background-color: #ccd4e2;
		width: 8px;
		height: 8px;
		border: 1px solid #ccd4e2;
		display: inline-block;
		margin-left: 3px;
		margin-right: 3px;
	  }
  
	  #carousel .active {
		width: 8px;
		height: 8px;
		background-color: #293df2;
		border-color: #293df2;
		display: inline-block;
	  }
  
	  .inactive {
		background-color: #ccd4e2;
		width: 8px;
		height: 8px;
		border: 1px solid #ccd4e2;
		display: inline-block;
	  }
    

 

	[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
		cursor: pointer;
	}

  
}